* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

#new-task {
  border-radius: 2rem;
  padding: 1rem;
  margin: 0 0.25rem;
  border: 1px solid green;
}

#new-task::placeholder {
  color: black;
}

#new-task:focus {
  outline: none;
}

#add-task {
  border-radius: 2rem;
  padding: 1rem;
  margin: 0 0.25rem;
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
